<div class="row">
  <div class="card overflow-auto">
    <div class="card-header">
      <div class="text-center">
        <h2>
          View Flights
        </h2>
        <form>
          <label>Filter by Provider Type: </label>
          <input type="text" [(ngModel)]='filterWord'>
        </form>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table-primary w-100">
          <thead>
            <th>#</th>
            <th>Provider Name</th>
            <th>Provider Code</th>
            <th>Provider Type</th>
          </thead>
          <tbody>
            <tr *ngFor="let flight of (air | filterProviderType :filterWord)">
              <td>{{flight.id}}</td>
              <td>{{flight.providerName}}</td>
              <td>{{flight.providerCode}}</td>
              <td>{{flight.providerType}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
