<div class="row">
  <div class="card overflow-auto">
    <div class="card-header">
      <div class="text-center">
        <h1>Modify Flight</h1>
      </div>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label>Provider Code: </label>
          <input class="form-control">
        </div>
        <div class="form-group">
          <label>Provider Type: </label>
          <input class="form-control">
        </div>
        <div class="text-center">
          <button class="btn btn-info text-light mt-4 w-50">
            Modify
          </button>
        </div>
      </form>
    </div>
  </div>
</div>