<div class="row">
  <div class="card overflow-auto">
    <div class="card-header">
      <div class="text-center">
        <h1>Create Flight</h1>
      </div>
    </div>
    <div class="card-body">
      <!-- {{ createForm.value | json }} -->
      <form #createForm="ngForm" novalidate (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Provider Name: </label>
          <select required #nameTag="ngModel" 
          [class.is-invalid]="nameTag.invalid && nameTag.touched"
          (change)="firstDropChanged($event)" class="form-control" 
          name="name" id="name" [(ngModel)]="formModel.providerName">
            <option selected value="">Select Name</option>
            <option *ngFor="let val of providerNames">{{ val }}</option>
          </select>
          <small class="text-danger" [class.d-none]="nameTag.valid || nameTag.untouched">
            *required <!-- Please Select an Airline -->
          </small>
        </div>
        <div class="form-group">
          <label for="code">Provider Code: </label>
          <input class="form-control" id="code" name="code" 
          readonly [(ngModel)]="formModel.providerCode"> <!-- [0-9a-zA-Z][a-zA-Z]\-$ -->
        </div>
        <div class="form-group">
          <label for="type">Provider Type: </label>
          <select class="form-control" id="type" required 
          #typeTag="ngModel" [class.is-invalid]="typeTag.invalid && typeTag.touched"
          name="type" [(ngModel)]="formModel.providerType"> 
          <!-- for non "" use this (blur)='validate(typeTag.value)' or (change)='validate(typeTag.value)' -->
            <option value="">Select Type</option>
            <option *ngFor="let val of providerTypes">{{ val }}</option>
          </select>
          <small class="text-danger" [class.d-none]="typeTag.valid || typeTag.untouched">
            *required <!-- Please Select a Flight Type -->
          </small>
        </div>
        <div class="text-center">
          <button [disabled]="createForm.form.invalid" class="btn btn-info text-light mt-4 w-50">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>